<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         				   http://www.springframework.org/schema/beans/spring-beans.xsd
         				   http://www.springframework.org/schema/context
         				   http://www.springframework.org/schema/context/spring-context.xsd
         				   http://www.springframework.org/schema/tx
       					   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- diz quais classes ele buscar o menaged bean -->
	<context:component-scan base-package="training.bms"></context:component-scan>


	<!-- diz ao spring o que ele precisa para criar um entitymanager -->
	<bean name="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- configurando banco de dados, para o spring usar ele -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.h2.Driver" />
		<property name="jdbcUrl" value="jdbc:h2:tcp://localhost/~/bms" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<!-- spring gerenciando trasação para aumentar o escopo de transação, e 
		aumentar o scopo do menegar -->

	<!-- evita o lazaly inicialize execption... pois ao colocar o manager como 
		scopo de requisição(começa quando usuário aperta o botao, até ele ver a respota), 
		ele manter o valor do manager ao terminar o metodo do dao. no exemplo... 
		caso tenho um post e uma tag com ele, lá no post estava como EAGER para carregar 
		as tags associadas a um post logo, caso não tiver, ele da o ERRO. se o spring 
		tiver um manager com escpo de requisição não precisaremos disso, pois ele 
		manter o valores. -->

	<!-- permitir que o sprign crie transação utulizando o transactionManager -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

</beans>