<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         				   http://www.springframework.org/schema/beans/spring-beans.xsd
         				   http://www.springframework.org/schema/context
         				   http://www.springframework.org/schema/context/spring-context.xsd
         				   http://www.springframework.org/schema/tx
       					   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- diz quais classes ele buscar o menaged bean -->
	<context:component-scan base-package="training.bms"></context:component-scan>


	<!-- diz ao spring o que ele precisa para criar um entitymanager -->
	<bean name="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost/wordrails"/>
   		<property name="username" value="wordrails"/>
   		<property name="password" value="wordrails"/>   		   		
	</bean>

</beans>